p.imgp,
p.imgp2,
p.imgp3,
p.imgp4,
p.imgp5,
p.imgp6 {
  position: absolute;
  left: 14.6%;
  top: 505px;
  font-size: 20px;
}
p.imgp2 {
  left: 44%;
}
p.imgp3 {
  left: 76%;
}
p.imgp4,
p.imgp5,
p.imgp6 {
  top: 550px;
}
p.imgp4 {
  left: 15%;
}
p.imgp5 {
  left: 46.7%;
}
p.imgp6 {
  left: 77.3%;
}
@media screen and (max-width: 1000px) {
  img.rentalimg,
  img.rentalimg2,
  img.rentalimg3 {
    left: 5%;
  }
  img.rentalimg3 {
    left: 75%;
  }
  img.rentalimg2 {
    left: 40%;
  }
  p.imgp,
  p.imgp2,
  p.imgp3,
  p.imgp4,
  p.imgp5,
  p.imgp6 {
    left: 3.6%;
  }
  p.imgp4 {
    left: 5%;
  }
  p.imgp2 {
    left: 30%;
  }
  p.imgp5 {
    left: 40%;
  }
  p.imgp3 {
    left: 76%;
    text-align: center;
  }
  p.imgp6 {
    left: 76.8%;
    top: 565px;
  }
}
