body {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
  background-color: #1f1c1c;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
h1.header {
  font-size: 25px;
  margin-left: 80px;
  margin-top: 35px;
  color: #fff;
  font-weight: 100;
}
a.nava {
  margin-left: 25px;
}
nav.navbar {
  margin-left: 55px;
  margin-top: 30px;
  display: inline-block;
}
a.nava:hover {
  border-bottom: 1px solid yellow;
  border-top: 1px solid yellow;
  border-radius: 5px;
}
.imgcon {
  background-image: url("../images/letsplay.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  margin-top: 50px;
  background-position: right;
  background-position-x: -375px;
}
.paragcon {
  margin-left: 50%;
  margin-top: -700px;
  height: 695px;
  position: relative;
  background-color: #000;
}
h2.header2 {
  font-weight: 500;
  font-size: 66px;
  position: absolute;
  left: 15%;
  top: 80px;
}
p.imgparag {
  position: absolute;
  top: 315px;
  left: 15%;
}
p.imgparag2 {
  width: 75%;
  position: absolute;
  top: 390px;
  font-size: 20px;
  left: 15%;
}
img.aboutpic {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.position {
  position: relative;
}
.box {
  position: absolute;
  top: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 700px;
  width: 700px;
  left: 30%;
}
h2.aboutheader {
  position: absolute;
  top: 25px;
  left: 300px;
  font-size: 35px;
}
p.aboutparag {
  font-size: 20px;
  width: 60%;
  left: 22%;
  position: absolute;
  top: 100px;
}
p.aboutparag2 {
  position: absolute;
  top: 356px;
  font-size: 20px;
  width: 60%;
  left: 22%;
}
button.btn1 {
  position: absolute;
  top: 611px;
  left: 42%;
  width: 20%;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  border: 4px solid yellow;
  color: #fff;
  background-color: #000;
}
button.btn1:hover {
  border: 4px solid #fff;
}
.rental {
  margin-top: -23px;
  height: 625px;
  position: relative;
  background-color: #000;
}
h2.rentalh2 {
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 40%;
  top: 22px;
}
p.rentalp {
  position: absolute;
  text-align: center;
  width: 50%;
  top: 100px;
  left: 25%;
}
img.rentalimg,
img.rentalimg2,
img.rentalimg3 {
  width: 20%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 200px;
  left: 10%;
}
img.rentalimg2 {
  left: 40%;
}
img.rentalimg3 {
  left: 70%;
}
p.imgp,
p.imgp2,
p.imgp3,
p.imgp4,
p.imgp5,
p.imgp6 {
  position: absolute;
  left: 18%;
  top: 505px;
  font-size: 20px;
}
p.imgp2 {
  left: 48%;
}
p.imgp3 {
  left: 77%;
}
p.imgp4,
p.imgp5,
p.imgp6 {
  top: 550px;
}
p.imgp4 {
  left: 15%;
}
p.imgp5 {
  left: 46.7%;
}
p.imgp6 {
  left: 77.3%;
}
p.join {
  position: absolute;
  left: 326px;
  top: 28%;
}
h2.conheader2 {
  position: absolute;
  top: 50px;
  left: 326px;
  font-size: 45px;
}
img.opening {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
